

:root , [data-bs-theme=light]{
    --bs-body-font-size: 0.85rem;

}


h1 {
    font-family: 'Vazir';
}

h2 {
    font-family: 'Vazir';
        background-color: lightgrey;
}

h3 {
    font-family: 'Vazir';
}



p {
  margin-top: 0;
  margin-bottom: 0rem;
}

 
body {
    padding-bottom: 20px;
    font-family: 'Vazir';
    /*font-family: Vazir;*/
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
